PROJECT_ROOT=/opt/agrisense-cloud-submission
REPO_URL=https://github.com/Warushika-Wijayarathna/agrisense-cloud-submission.git
REPO_BRANCH=main

CLOUD_SQL_CONNECTION_NAME=project-8b7500b1-855a-4cd2-8bf:asia-southeast1:agrisense-mysql
CLOUD_SQL_PROXY_BIN=/usr/local/bin/cloud-sql-proxy

CONFIG_SERVER_URL=http://localhost:8888
EUREKA_URL=http://localhost:8761/eureka

DEVICE_DB_URL=jdbc:mysql://127.0.0.1:3306/agrisense_device_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DEVICE_DB_USERNAME=agrisense_app
DEVICE_DB_PASSWORD=AgriSense@2026

ALERT_DB_URL=jdbc:mysql://127.0.0.1:3306/agrisense_alert_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
ALERT_DB_USERNAME=agrisense_app
ALERT_DB_PASSWORD=AgriSense@2026

MEDIA_DB_URL=jdbc:mysql://127.0.0.1:3306/agrisense_media_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
MEDIA_DB_USERNAME=agrisense_app
MEDIA_DB_PASSWORD=AgriSense@2026

MEDIA_STORAGE_MODE=gcs
MEDIA_STORAGE_BUCKET=agrisense-media-warushika-2026
MEDIA_STORAGE_PUBLIC_BASE_URL=https://storage.googleapis.com/agrisense-media-warushika-2026
GCP_PROJECT_ID=project-8b7500b1-855a-4cd2-8bf

MONGO_URI=mongodb://localhost:27017/agrisense_sensor_db
ALERT_INTEGRATION_BASE_URL=http://localhost:8083
